.title {
  font-size: 4rem;
  font-family: "Kumbh Sans";
  font-weight: 700;
  padding-bottom: 2rem;
}
.accordion {
  width: 100%;
  margin-left: 10rem;
  max-width: 400px;
  margin: 0 auto;
  margin-right: 4rem;
}

.accordion-text {
  font-family: "Kumbh Sans";
}
.accordion-text {
  font-size: 2rem;
  padding-bottom: 4rem;
}
