@use "./variables";

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  // position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  // min-width: 100vh;
  margin: 0;
  // background-color: variables.$softVoilet;
  background-color: variables.$softVoilet;
  background-image: linear-gradient(variables.$softVoilet, variables.$softBlue);
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid #73ad21;
}

.image,
.accordion {
  flex: 1;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50rem;
  width: 95rem;
  background-color: white;
  border-radius: 2rem;
  color: black;
  overflow: hidden;
  position: relative;
}
