@use "variables" as *;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient($softVoilet, $softBlue);
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 52rem;
  width: 95rem;
  // width: 100%;
  // max-width: 95rem;
  background-color: white;
  border-radius: 2rem;
  color: black;
  // overflow: hidden;
  background-image: url(../images/bg-pattern-desktop.svg);
  background-position: -57rem -29rem;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0rem 2rem 4rem 0rem rgba(0, 0, 0, 0.249);
  z-index: 1;
}

.images,
.accordion {
  flex: 1 1;
}

.title {
  font-size: 4rem;
  font-family: "Kumbh Sans";
  font-weight: 700;
  margin-bottom: 4rem;
  margin-top: 6rem;
}

.accordion {
  max-width: 45rem;
  margin-right: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 52rem;
}

.accordion-title {
  color: $grayBlueDark;
}

.accordion-title:hover {
  color: $lightRed;
}

.accordion-text {
  max-height: 5rem;
  overflow: hidden;
  font-family: "Kumbh Sans";
  font-size: 2rem;
  background-color: #ffffff;
  padding: 0;
  padding-bottom: 0;
  font-size: 2rem;
  padding-bottom: 2rem;
  cursor: pointer;
  transition: max-height 0.3s ease-in-out;
  color: $grayBlueDark;
}

.accordion-text.open {
  max-height: 40rem;
  transition: max-height 0.3s ease-in-out;
}

.images {
  position: relative;
  width: 55rem;
}

.bg-pattern-desktop {
  display: none;
}

.bg-pattern-mobile {
  display: none;
}

.icon {
  display: none;
}

.arrow-down {
  display: none;
}

.damn-box {
  position: relative;
}

.box {
  position: absolute;
  left: -2rem;
  top: 11rem;
  transform: translateX(-45%);
}
.woman {
  width: 100%;
  position: relative;
  top: -2rem;
  right: 8rem;
  z-index: -11;
  clip-path: inset(0 0 0 8rem);
}

.woman-mobile {
  display: none;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  justify-self: center;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.5rem;
  color: rgba(241, 241, 241);
  font-weight: 700;
}

.footer a {
  color: $darkColor;
  cursor: pointer;
  margin-left: 4px;
}

.footer a:hover {
  color: $lightRed;
}
