.bg-pattern-desktop {
  position: absolute;
  height: 100rem;
  width: 100rem;
  top: -30rem;
  // bottom: 20rem;
  left: -61rem;
  border: 3px solid #73ad21;
  max-width: 106%;
  transform: rotate(0deg);

  // height: 60rem;
  // width: 60rem;
  // top: 26rem;
  // left: -34%;
  // border: 3px solid #73ad21;
}

.bg-pattern-mobile {
  display: none;
}

.icon {
  display: none;
}

.arrow-down {
  display: none;
}

.box {
  display: block;
  position: absolute;
  top: 20rem;
  left: -3%;
  border: 3px solid #73ad21;
  z-index: 5;
  transform: translateX(-45%);
}
.woman {
  position: absolute;
  bottom: 6rem;
  // bottom: 233%;
  left: -9%;
  border: 3px solid #73ad21;
  z-index: 2;
  overflow: hidden;
}

.woman-mobile {
  display: none;
}

.container {
  box-shadow: 0rem 3rem 5rem 0rem rgba(0, 0, 0, 0.4);
  // border: 3px solid #73ad21;
  z-index: 1;
}

.image {
}
