//Colors
$darkColor: hsl(238, 29%, 16%); // text when hightlighted
$lightRed: hsl(14, 88%, 65%); // text when hover highlighted
$softVoilet: hsl(273, 75%, 66%); // background color from top
$softBlue: hsl(240, 73%, 65%); // background color to bottom
$grayBlueDark: hsl(
  237,
  12%,
  33%
); // info text title in accordian main when neutral
$grayBlueLight: hsl(240, 6%, 50%); // info text info in accordian
$lightGray: hsl(240, 5%, 91%); // Dividers color
$fontfamily: "Kumbh Sans", sans-serif;
